
a{
    text-decoration: none;
}


 nav ul li a:hover,
.footer-col ul li a:hover,
.active{
    text-decoration: underline;
   }

footer a,
header a{   
    color: #fff;
    padding: 10px;
}

.cta{
    background-color: #080439; 
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    text-transform:uppercase;
    display: inline-block;
    padding: 15px 40px;
   
}
.cta-button{
    background-color:#7523D3;
}


.cta:hover
.cta-button:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.cta:hover{
    background-color:#651B98 ; 
}

.cta-button:hover{
    background-color: #080439; 
}




