
.card-club{
    border: 1px solid #b0aaaa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;     
    flex-direction: column;
    gap: 20px;
}

.card-club >*{
    flex:1
}


.club_image,
.club_content{
    border: 1px solid #b0aaaa;
    max-width: 600px;
    margin: 0 auto;
}

.club_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}





.club-text{
    border: 1px solid #b0aaaa;
    max-width: 1400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;    
}

 
.club_content-wrap p{
    margin-bottom: 30px;
}


.club-holiday{
    margin-bottom: 100px;
}