
.card-club{
    border: 4px solid yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;     
    flex-direction: column;
    gap: 10px;
     /* max-width: 1400px;*/
   /*margin: 20px auto;*/
}

.card-club >*{
    flex:1
}


.club_image,
.club_content{
border: 2px solid red;
max-width: 600px;
/* padding: 20px; */
margin: 0 auto;
/* width: 100%; */
}

.club_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}



.club_content p{
   /* border: 2px solid blue;*/
}


.image_club{
    /* width: 100%; */
}

.club_content{
    /* width: 100%; */
}



.club-text{
    border: 4px solid yellow;
    /* max-width: 1400px;*/
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;    
}

 

