
.card-club{  
    background-color:#f2ebeb;  
    display: flex;
    flex-flow: column wrap;
    gap: 20px;  
    justify-content: space-around;     
}



.card-club >*{
    flex:1;
}


.club_image,
.club_content{
    max-width: 600px;
    margin: 0 auto;
}

.club_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


.club-information{
    background-color:#dad1d1;
    max-width: 1400px;   
    margin: 0px auto;
}
    


.club-text{
    max-width: 900px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    text-align: center; 
}

.club-text p{
    text-align: left; 

}
 
.club-text h2, h3{
    margin-bottom: 20px;
}

.club-details{
    margin-bottom: 40px;
}


.club_content-wrap p{
    margin-bottom: 30px;
}


.club-holiday{
    margin-bottom: 100px;
}

.activity_date{
    font-size:20px;
}