
.exhibitions,
.tours,
.events{
    border: 1px solid #b0aaaa;
    margin: 20px auto 100px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: space-around;   
    
}



.exhibitions > *,
.tours > *{
  flex: 1;  
}

.date{
  margin-top: 20px;
  font-weight: bold;
}