
.exhibitions,
.tours,
.events{
    margin: 20px auto 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;   
    
}



.exhibitions > *,
.tours > *{
  flex: 1;  
}

.date{
  margin-top: 20px;
  font-weight: bold;
}