.museum-view{
    background-image: url("../images/museum.big_edited.jpg");
    
}


.welcome{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin: 50px auto;   
    flex-direction: column;
}



.welcome >*{
    flex: 1;
}

.welcome-text,
.info{
    border: 1px solid #b0aaaa;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.info{
    background-color:#DDDDDD ;
    
}

.timing h3{
    margin-bottom: 20px;
}

.ticket-button{
    text-align: center;
}

.museum-text h3{
    margin-bottom: 0px;
}