*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family:"Poppins",Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto ;
}


img{
    width: 100%;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 14px;

}
p{
    font-size: 16px;
}

/* header */

header{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
}


main{
    margin-top: 80px;
}


header,
footer{
    background-color: #080439;
    color: #fff;
}

nav{
   
    margin-left: 50px;
    display: none;
    position: fixed;
    top: 85px;
    background-color: #080439;
    z-index: 1000;
    right: 0px;

}

nav ul,
.footer-col ul{
    padding: 0px;
}

nav ul li{

    display: block; 
    padding: 10px 20px;
    border: 2px solid red;
}


#hamburger-menu{
    display: none;
}


#hamburger-menu:checked ~ nav{
    display: block;
}



.museum-text{
    border: 4px solid yellow;
    max-width: 1200px;
    padding: 0px 20px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #DDDDDD;
    border-radius: 4px;
}



/* footer */

.container{
    max-width: 1400px; 
    margin: auto;
    border: 2px solid green;
}

.footer-col ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
   
}
.footer{
    padding: 70px 0px;
}

.footer-col{
    width: 100%;
    border: 2px solid red;
    padding: 20px;
    margin-bottom: 50px;
   
}

.footer-col h3{
    margin-bottom: 35px;
    border: 2px solid green;
    
}



.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
}



.footer-col ul li a {
    display: block;
    padding:10px 0;
    transition: all 0.3s ease;
}


.footer-col ul li a:hover{
    text-decoration: underline;
    padding-left: 8px;
}




/* links */
a{
    text-decoration: none;
}


nav ul li a:hover{
    text-decoration: underline;
   }

footer a,
header a{   
    color: #fff;
    padding: 10px;
}

.cta{
    background-color: #080439;
    color: #fff;
    font-size: 1em;
    padding: 15px 40px;
    border-radius: 4px;
    text-transform:uppercase;
    display: inline-block;
   
}




.cta-button{
    background-color:#7523D3;
    color: #fff;
}

.cta-card,
.cta-museum{
    padding: 15px 40px;

}

.active{
    text-decoration: underline;
}

.cta:hover{
    background-color:#651B98 ;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.cta-button:hover{
    background-color: #080439;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}





/* card */

.card-small,
.support-card{
    border: 2px solid red;
    border-radius: 4px;
    padding: 20px ;  
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    width: 100%;
}

.explore-text h3,
.explore-text h4{
    margin-bottom: 15px;
}



.explore-text p{
    width: 356px ;
    height: 200px;
}



.event-text{
    width: 356px;
    height: 280px;
}



.card-small:hover,
.card-big:hover,
.card-medium:hover,
.support-card:hover{
    background-color: #DDDDDD;
    cursor: pointer;
    /*transform: scale(1.03); */
    transition: all 1s ease;

}


.card-small a,
.card-medium a,
.card-big a,
.support-card a{
    display: block;
    text-align: center;
    margin: auto;
}


.museum-content,
.card-small_container,
.card-medium_container,
.card-big_container,
.support_container{
    width: 100%;
    /*background-color: skyblue;*/
}

.explore{
    border: 4px solid yellow;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 10px;   
    margin: 50px auto;
    padding: 20px;
    flex-direction: column;
    
}

.image-explore{
    width: 100%;
}




/* home page*/


.museum-view{
    background-image: url("../images/museum.big_edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 65vh;
    width: 100%;
    
}



.welcome{
    border: 4px solid yellow;
    max-width: 1400px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin: 50px auto;   
    padding: 20px;
    flex-direction: column;
}


.welcome >*{
    flex: 1;
}

.welcome-text{
    border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}


.info{
    border: 2px solid red;
    background-color:#DDDDDD ;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;  
}




/* Support us page */


.welcome-view{
    background-image: url("../images/tree.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 65vh;
    width: 100%;
}


.mission,
.support{
    border: 4px solid yellow;
    margin: 20px auto;
    padding: 20px ;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
         
}

.mission{
    gap: 20px;
}

.mission > *{
    flex: 1;
}

.mission-text{
    border: 2px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mission-aside{
    border: 2px solid red;
    padding: 20px;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.image_support{
    width: 100%;
}






/* event page */


.exhibitions,
.tours,
.events{
    border: 4px solid yellow;
    margin: 20px auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;   
    
}

.events{
    width: 100%;
    background-color: skyblue;
}

.exhibitions > *,
.tours > *{
  flex: 1;  
}


.card-big,
.card-medium{
    border: 2px solid red;
    border-radius: 4px;
    padding: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px auto;
}

.card-medium{
    max-width: 500px;
}




/* club page */

.club-weekly,
.club-holiday{
    
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;     
    gap: 10px;
    flex-direction: column;
}


.club_image,
.club_content{
    border: 2px solid red;
    max-width: 600px;
    padding: 20px ;
    margin: 20px auto;
}

.club_content{
    display: flex;
    flex-direction: column;
    gap: 30px;   
    align-items: center;
}

.image_club{
    width: 100%;
}

.club_content{
    width: 493px;

}

.club-text{
    border: 4px solid yellow;
    max-width: 1400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;    
}




/* media query */



@media (min-width:600px){


    .explore{
        flex-direction: row;
        flex-wrap: wrap;
       
    }

    .card-small{
        width: 90%;
           
      }

}



@media (min-width:858px){
 .welcome{
        flex-direction: row;
    }
 .welcome-text{
        flex: 2;
    }

.explore,
.support{
    flex-direction: row;
}

.card-small{
    max-width: 400px;
       
  }

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 20px;
}

p{
    font-size: 18px;
}

.events{
    flex-direction: row;
}

.tours{
    flex-direction: row;
    gap: 10px;
}
.club-weekly,
.club-holiday{
    flex-direction: row;
}

.mission{
    flex-direction: row;
}

.mission-text{
    flex: 2;
}

nav{
    display: block;
    position: static;
    top: 0px;
}

nav ul li{
    display: inline-block;
    padding: 0px;
}
nav ul li a {
    font-size: 1.2em;
}


header label{
display: none;
}

header{
justify-content:space-between;

}



p{
    font-size: 18px;
}

.cta-medium{
    padding: 15px 100px;

}

.cta-big{
    padding: 15px 180px;

}

.footer-col{
    width: 50%;
}


}



@media (min-width:1060px){
 
    .exhibitions{
        flex-direction: row;
    }

    .footer-col{
        width: 25%;
    }





} 
    


   


    