*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family:"Poppins",Verdana, Geneva, Tahoma, sans-serif;
}


header{
    background-color: #080439;
    display: flex;
    align-items: center;
}

nav{
    margin-left: 50px;
}

header a{
    color: #fff;
    padding: 10px;
}

nav ul{
    padding: 0px;
}

nav ul li{
    display: inline-block; 
}

img{
    width: 100%;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 20px;

}
p{
    font-size: 18px;
}


/* links */
a{
    text-decoration: none;
}


.cta{
    background-color: #080439;
    color: #fff;
    font-size: 1em;
    padding: 15px 50px;
    border-radius: 4px;
    text-transform:uppercase;
    display: inline-block;
}

.cta-medium{
    padding: 15px 100px;

}

.cta-big{
    padding: 15px 180px;

}

.cta-button{
    background-color:#7523D3 ;
    color: #fff;
}

.active{
    text-decoration: underline;
}

.cta:hover{
    background-color:#7523D3 ;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.cta-button:hover{
    background-color: #080439;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


/* home page and support us*/


.museum-view,
.welcome-view{
    background-image: url("../images/museum.big_edited.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
    width: 100%;
    position: relative;
}

.museum-view--contains,
.welcome-view--contains{
  position: absolute; 
  top: 400px; 
  left: 200px;
  text-align: left;
}

/* home page */

.welcome{
    border: 2px solid black;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 100px auto;
    gap: 50px;
}


.welcome-text{
    border: 2px solid red;
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}


.info{
    border: 2px solid red;
    background-color:#DDDDDD ;
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;  
}




 .explore{
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
    margin: 50px auto;
    
}

.image-explore{
    width: 100%;
}


.card-small{
    max-width: 400px;
    border: 2px solid red;
    border-radius: 4px;
    padding: 20px ;  
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
}

.card-small:hover,
.card-big:hover,
.card-medium:hover{
    background-color: rgb(62, 62,62);
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;

}


.card-small a,
.card-medium a,
.card-big a{
    display: block;
    text-align: center;
    margin: auto;
}





/* Support us page */

.welcome-view{
    background-image: url("../images/tree.jpg");
}


.support{
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px solid yellow;
    margin: 20px auto;
       
}

.support-card{
    border: 2px solid red;
    padding: 20px ;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px auto;
   
}

.image_support{
    width: 100%;
}







/* Young stars club page */


.Club{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    
}

.Club > * {
    flex: 1;

}

/* event page */


.exhibitions,
.tours,
.events{
    border: 3px solid red;
    display: flex;
}






.exhibitions{
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px solid yellow;
    margin: 20px auto;

}

.exhibitions,
.tours > *{
  flex: 1;  
}


.card-big,
.card-medium{
    border: 2px solid red;
    padding: 20px ;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px auto;
}

.card-medium{
    max-width: 500px;
}




/* club page */

.Club{
    border: 4px solid yellow;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin: 20px auto;
    gap: 20px;
    flex-direction: column;
}

.Club >*{
    flex: 1;
}

.club_content{
    border: 2px solid red;
    padding: 20px ;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
}