
.welcome-view{
    background-image: url("../images/tree.jpg");
}


.mission,
.support{
    /*padding: 20px;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;        
}

.mission{
    gap: 20px;
}

.mission > *{
    flex: 1;
}

.mission-text,
.mission-aside{
    border: 1px solid #b0aaaa;
    display: flex;
    flex-direction: column;
}

.mission-aside{
    background-color: #DDDDDD;
    gap: 30px;
}




